*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1170px;
    margin: 0 auto 0 auto;
}

.box-flex {
    display: flex;
    justify-content: space-between;
}

.flex-center {
    display: flex;
}

.header-navbar ul li {
    margin: 0 10px;
    list-style: none;
    text-transform: uppercase;
    margin-top: 9%;

    font-family: 'Poppins', sans-serif;
    color: #1A396B;
}

.imagemarca {
    margin-top: 8%;
}

.image-menu {
    border-radius: 100px;
    float: right;
    width: 50%;
}

.box-image {
    margin-left: 12%;
    margin-top: 22%;
}

.gallery-card-1 {
    width: 30%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 53px;
    border-radius: 10%;
    margin-top: 50%;
}

.gallery-card-2 {
    width: 30%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 53px;
    border-radius: 10%;
    margin-top: 50%;
}

.gallery-card-3 {
    width: 30%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 53px;
    border-radius: 10%;
    margin-top: 50%;
}

.box-flex {
    display: flex;
    justify-content: space-between;
}

h3 {
    color: #FF5551;
    margin-top: 2%;
    cursor: pointer;
}

h2 {
    color: rgb(60, 42, 76);
    text-align: center;
    margin-top: 3%;
    font-size: 22px;
    cursor: pointer;
}

.webdesign {
    margin-top: 30%;
    border-radius: 8%;
    display: inline-block;
}

.devapp {
    margin-top: 10%;
    border-radius: 8%;
    display: inline-block;
}

.devux {
    margin-top: 21%;
    border-radius: 8%;
    display: inline-block;
}

footer {
    padding: 18px 0;
    background-color: #1A396B;
    width: 100%;
    
    display: flex;
    margin-top: 10%;
}

p {
    color: white;
    padding: 12px;
}


.icones-media {
    display: flex;
    margin-left: 60%;
    height: 20px;	
}

.icone-media-1 {
    margin-left: 12%;
    cursor: pointer;
}

.icone-media-2 {
    margin-left: 12%;
    cursor: pointer;
}

.icone-media-3 {
    margin-left: 12%;
    cursor: pointer;
}

.image-page {
    width: 25px;
}

#h1 {
    color: rgb(60, 42, 76);
    text-align: center;
    font-size: 25px;
    align-items: center;
}

header{
    height: 120px;
    width: 106.8%;
    background-color: #A1CEF8;
}

.image-page {
    max-width: 100px;
    align-items: center;
}

.container-main {
    margin-top: -120px;
}

li {
    cursor: pointer;
}
